[2016-08-13 17:35] StrangeZak opened #15 "SSE Support"
Add SSE support for all Vector, and Matrix Operations

[2016-08-13 17:37] StrangeZak opened #16 "Remove CRT"
Remove use of the CRT (Math.h) in HandmadeMath, this involved replacing Sin, Con, and Tan with our own version of these operations.

[2016-08-13 20:30] kiljacken commented on #16
Just sharing my $0.02 again here, such that they're documented somewhere.

The trigonometric functions are, to say the least, problematic to implement. You can basically pick one of the following options: widely compatible or fast. As you'd not want to maintain platform dependent inline assembly for all used architectures, platforms, and compilers, the slow route would have to be taken.

However,

[2016-08-13 21:10] StrangeZak commented on #16
Yeah, writing SSE efficient Sin, Cos, and Tan will be crazy hard and will take more time then they are probably worth.

[2016-08-13 21:10] StrangeZak commented on #16
I think the STB approach you are saying might be the way to go about these things.

[2016-08-20 16:13] StrangeZak commented on #16
@kiljacken I did what you said in 0.4 the most recent commit, that i pushed today onto the master repo. It worked great :)

[2016-08-20 16:13] #16 closed

[2016-08-23 15:12] bvisness opened #20 "Functions without prototypes and prototypes without functions"
There are many function prototypes in the `HANDMADE_MATH_CPP_MODE` headers that do not have function bodies. (These start on [line 379](https://github.com/StrangeZak/Handmade-Math/blob/master/HandmadeMath.h#L379) at the time of this issue.) Further, most of these function prototypes don't make any sense:

[code]

What is that even supposed to do?

There are also lots of functions in the `HANDMADE_

[2016-08-23 17:40] StrangeZak commented on #20
Yes! HandmadeMath should work like the stb libraries where the top part outside of the HANDMADE_MATH_IMPLEMENTATION should like a header or *.h file. I obviously must've missed some such as HMM_AddVec4, and yes the function overloaded and operator overloaded functions should work as you defined. If you can do this fix that would be awesome, thanks for finding this "bug" if you have another questio

[2016-08-23 20:41] bvisness commented on #20
@StrangeZak Could you please look at [this diff](https://github.com/bvisness/Handmade-Math/commit/99bad6fd6ebb977110abed02b5e6e910f800b9f7) and tell me if those are the changes you expected?

[2016-08-23 20:55] StrangeZak commented on #20
@bvisness Commented on the diff for what im looking for

[2016-08-24 00:35] #20 closed

[2016-08-25 14:50] bvisness opened #21 "Needs unit testing"
Just wanted to open up the discussion about how unit testing should be implemented for Handmade Math. We could use a full C++ unit testing framework like [Google Test](https://github.com/google/googletest), or maybe just roll our own thing with asserts.

I personally would lean toward a full framework for ease of running multiple tests and nice test output. Plus, it would likely be easier to get u

[2016-08-25 16:52] StrangeZak commented on #21
I think for right now just having our own unit thing right now would be fine as i really dont have the money to setup a Travis of Jenkins server for automated build tests. Although i do think Travis or Jenkins would be the way to go for this.

[2016-08-25 16:57] StrangeZak commented on #21
Wait is Travis CL free now ?

[2016-08-25 17:12] bvisness commented on #21
Travis CI is [free for open-source projects](https://travis-ci.com/plans), and I'd be happy to set it up once we get tests running locally. I think later today I will take a stab at using Google Test and will let you know how it goes.

[2016-08-25 17:13] kiljacken commented on #21
Travis is free for open source (maybe just github) projects afaik.

On Thu, 25 Aug 2016 at 18:57 Zak Strange <notifications@github.com> wrote:

[2016-08-25 17:37] StrangeZak commented on #21
Yeah, im not really the guy to ask to write a unit test. So if any of you guys are good at it i would love if you could try to do it first, once we have that id be more than happy to setup Travis CL, because we really need a unit test, so were sure we dont break peoples code when we upgrade, heh.

[2016-08-25 17:37] StrangeZak commented on #21
@kiljacken @bvisness Someone is having a issue with handmade-math theres no reason they should have to transpose there matrices when submitting them to opengl right?

[2016-08-25 17:41] StrangeZak opened #22 "Smooth Transition for GLM to Handmade Math"
@kiljacken @bvisness Someone is having a issue with handmade-math there's no reason they should have to transpose there matrices when submitting them to OpenGL right? It seem like the transition from GLM to Handmade Math is not as easy as i thought it was.

Here's the Twitter thread to that kinda explains whats going on, on his side, this shows the complete conversation: https://twitter.com/JesseR

[2016-08-25 18:03] JesseRMeyer commented on #22
That's me. I used HMM as a 'drop-in' replacement for GLM, and in order to do any basic translations I had to transpose HMM's matrices to GL. More advanced use of matrices (projection, view, rotation) was completely unusable, causing the transformed points to fall outside of GL's frustum and be culled away. I can provide example source.

[2016-08-25 18:06] bvisness commented on #22
I think we might be inconsistent about row-major vs. column-major order right now (GLM is column-major.) I'm looking into it.

[2016-08-25 18:17] StrangeZak commented on #22
I mean i dont transpose any of my matrices and im fine, but if there is a issue we should fix it and have it so matrices do not need to be transposed, no reason for opengl to do that extra work

[2016-08-25 18:18] bvisness commented on #22
@StrangeZak What's your source for the perspective projection matrix? I don't have a linear algebra textbook handy and Google is being no help...

[2016-08-25 18:19] StrangeZak commented on #22
One second let me look i dont remember where i got it, but i can you reassure you it works.

[2016-08-25 18:20] StrangeZak commented on #22
Maybe these two videos:

https://www.youtube.com/watch?v=jeO_ytN_0kk
https://www.youtube.com/watch?v=dul0mui292Q

If you wanna check it that would be awesome.

[2016-08-25 18:35] bvisness commented on #22
@JesseRMeyer `HMM_Translate` is producing a row-major matrix instead of column-major (which OpenGL expects.) The rest of the functions seem to be producing column-major.

I hadn't run into this problem in my own project because I'm not yet using `HMM_Translate`. I'm starting work on a patch.

@StrangeZak Is your project using `HMM_Translate` at all? I'm surprised it would work for you...

(Also, t

[2016-08-25 18:38] StrangeZak commented on #22
I think i might just use HMM_LookAt for the time being maybe thats why mine works, yeah we really need a Unit Test obviously. How has no body else hit this with so many people using it

[2016-08-25 18:38] StrangeZak commented on #22
There's like 25-30 people using this how is he the first to hit it. It makes no sense...

[2016-08-25 18:39] mmozeiko opened #23 "SSE improvements"
Don't do this:

    __m128 In = _mm_load_ss(&Value);
    __m128 Out = _mm_sqrt_ss(In);
    _mm_store_ss(&Result, Out);

Do this instead:

    __m128 In = _mm_set_ss(Value);
    __m128 Out = _mm_sqrt_ss(In);
    Result = _mm_cvtss_f32(Out);

load/store operations makes compiler to store float to memory (if it is not smart enough to optimize what is going on here), and that is bad. Because on x86_64

[2016-08-25 19:36] StrangeZak commented on #23
Thanks for the fix, and the suggestion mmozeiko, random unrelated question for you now. Do you think its worth it to SSE-ify all our Matrix and Vector operations?

[2016-08-25 19:38] JesseRMeyer commented on #22
I tried rendering again with the column/row fix, but it still doesn't work for me.

There's some relevent information in the pictures below.
http://imgur.com/a/ek2yM

[2016-08-25 19:41] bvisness commented on #22
Hmm. Could you maybe try a simpler case? Not sure which matrix might be the problem now.

[2016-08-25 19:45] mmozeiko commented on #23
For some operations it can help a lot (like matrix-matrix or marix-vector multiplication). For other, probably no. Because typically you operate with 2d or 3d vector, but using those in SSE operations is awkward. Only 4d vector maps cleanly to SSE operations.

[2016-08-25 19:53] StrangeZak commented on #22
That wireframe looks right for the most part, at least i think

[2016-08-25 19:56] StrangeZak commented on #22
Change your model matrix to:

`    hmm_mat4 ModelMatrix = HMM_Mat4d(1.0f);`

And see what happens?

[2016-08-25 20:20] JesseRMeyer commented on #22
The wireframe is constructed by RenderDoc. You're supposed to see what you're rendering show up inside the bounds.

HMM_Mat4d(1.0f); didn't seem to do anything different. I'm relying on that being being an intrinsic part of the Translate function anyway.

Here's a gif of me 'building' up the final matrix. I'm out of time looking into this today, so I can either upload my project's source or after

[2016-08-25 20:44] JesseRMeyer commented on #22
For reference it's supposed to look like this: http://imgur.com/Tqs8Ayb

[2016-08-25 21:09] bvisness commented on #21
Making some good headway on this! If you are interested you can check out the `unit-tests` branch of [my fork](https://github.com/bvisness/Handmade-Math).

[2016-08-25 21:26] StrangeZak commented on #21
I do all my builds on Windows as a build.bat files so eventually ill just convert the make file to batch script but random question what are we gaining by using the google api thing

[2016-08-25 21:28] StrangeZak commented on #22
Ill relook at this issue after my stream tomorrow maybe it will shed some light on this situation

[2016-08-25 23:10] StrangeZak commented on #23
Fixed the SSE issue in the most recent version

[2016-08-25 23:10] #23 closed

[2016-08-26 02:29] bvisness commented on #21
We're gaining easy-to-create tests where individual asserts won't end the program, and very helpful formatting to help track down the source of errors. (Plus, it's a format that Travis should be happy with.)

Example output:

[code]

[2016-08-26 02:30] StrangeZak commented on #22
Didnt mean to close this....

[2016-08-26 02:43] StrangeZak commented on #21
Awesome just didn't wanna bloat the project with a library, we didn't need but this seems fine as it won't even be used in HandmadeMath

[2016-08-26 02:57] bvisness commented on #21
Yeah for sure. Maybe someone can make a handmade test framework for us :)

[2016-08-26 03:16] StrangeZak commented on #21
Or, that could be a awesome side-project for us to work on when HandmadeMath is stable and faster than GLM

[2016-08-27 01:43] StrangeZak commented on #21
Whats the status on the unit test ?

[2016-08-28 06:46] bvisness commented on #21
1300 lines later, almost done writing them. Found a couple confirmed bugs and a few other issues (which I will make Github issues for.) Just have to write tests for `HMM_Orthographic`, `HMM_Projection`, and `HMM_LookAt` and we'll be good to go.

[2016-08-28 07:03] bvisness commented on #21
(The tests are a little verbose in spots, but I'm just cranking them out and I can look into removing redundant code once everything works.)

[2016-08-28 17:03] StrangeZak commented on #21
Awesome were finding bugs this is great :D After some testing of the next major version i thing we can finally call this "stable"

[2016-08-28 17:04] StrangeZak commented on #22
@JesseRMeyer There should be a new major version coming in the next few days where we will fix various bugs then we will try this again. Sorry for the hassle there might be a few bugs that i am not aware of

[2016-08-28 23:42] StrangeZak commented on #21
Cant wait to squash these bugs

[2016-08-29 03:04] bvisness commented on #21
I'll try to finish up the tests tonight.

[2016-08-29 03:21] StrangeZak commented on #21
Thanks for writing the unit test :)

[2016-08-29 04:22] bvisness commented on #21
Tests are up! Sadly it looks like there are some merge conflicts that will need resolving, but they shouldn't be too bad since most of the changes are new code anyway.

I'm going to go through and make issues for the stuff I found along the way. Once those are resolved I can try configuring Travis.

[2016-08-29 04:32] bvisness commented on #15
This is done...?

[2016-08-29 04:35] bvisness opened #27 "HMM_SquareRoot and HMM_FastInverseSquareRoot not defined"
These two function headers have no function definitions and cause linker errors if used in a project:

[code]

`HMM_SquareRoot` in particular seems redundant since `HMM_SqrtF` is already present above. `HMM_FastInverseSquareRoot` is completely missing.

[2016-08-29 04:37] bvisness opened #28 "No matrix transpose function"
We do not have a function for transposing `hmm_mat4`s. Adding one seems like the responsible thing to do! Probably call it `HMM_Transpose(hmm_mat4 Matrix)`.

[2016-08-29 04:39] bvisness opened #29 "HMM_Power does not support fractional exponents"
The function signature for `HMM_Power` is currently `HMM_Power(float Base, int Exponent)`. Because `Exponent` is an `int`, it is not possible to use fractional exponents at all.

This would add to the complexity of the function, so it would perhaps be wise to add an `HMM_PowerF` or something to preserve performance for the (probably more common) integer exponent case.

[2016-08-29 04:42] bvisness opened #30 "HMM_Inner and HMM_Dot are redundant and limited"
`HMM_Inner` and `HMM_Dot` both perform exactly the same type of vector multiplication, and are thus redundant. However, only `HMM_Inner` is used internally.

In addition, both of these functions only support `hmm_vec3`. We should consider adding versions of this function for all three types of vectors.

[2016-08-29 04:46] bvisness opened #31 "Inconsistent use of radians vs. degrees"
The trigonometric functions in Handmade Math use radians for angles. `HMM_Perspective`, on the other hand, uses degrees.

We should make this usage consistent between the two, or find a way to clarify which uses radians and which uses degrees.

[2016-08-29 04:50] bvisness opened #32 "Potential efficiency problem in HMM_Normalize"
Here is the full function body for `HMM_Normalize(hmm_vec3)`:

[code]

`HMM_Length(A)` is called three times during this process, even though the value is the same in all three cases.

I am no expert on what low-level shenanigans are in play when this code is compiled, but I suspect that compilers would not be able to optimize this. We should save the result and then use it in all three divisions.

[2016-08-29 04:52] bvisness opened #33 "HMM_LengthSquareRoot is poorly named"
This is not a bug, exactly, but when I was integrating Handmade Math into my project I was confused by the naming of `HMM_LengthSquareRoot`. I expected `HMM_LengthSquared`, or something, since the function actually produces the length of the vector squared. (No square root has happened yet!)

[2016-08-29 04:55] bvisness opened #34 "Vec2i, Vec3i, Vec4i are unnecessary?"
What is the purpose of having `HMM_Vec2i`, `HMM_Vec3i`, and `HMM_Vec4i`? All three functions simply cast their integer arguments to floats. And there is no loss of precision when converting `int` to `float`, so compilers should be able to do this conversion implicitly in the float versions of these functions.

(This may just be my relative inexperience programming in plain old C.)

[2016-08-29 15:28] StrangeZak commented on #22
@JesseRMeyer Merged in a fix today, would be great if you could see if it fixes it for you. If not we will try again in a few days as there is a few bugs to squash

[2016-08-29 15:30] StrangeZak commented on #29
My friend Miblo, is actually working on a new quick power function. I will inform him on this so when he writes the new power function he can squash these requests also

[2016-08-29 15:32] StrangeZak commented on #30
For sure this is a easy fix, i just know some people like to use inner and some people like to use dot, even though dot is correct. Should we just have Inner call dot, or just remove Inner entirely

[2016-08-29 15:34] StrangeZak commented on #31
Oh, i was not aware of this  but i really think degrees, just because i dont want to have to convert what im passing in to a function every single time to radians.

[2016-08-29 15:35] StrangeZak commented on #21
Awesome, with LOTS of bugs found now and a unit test i think we on to a proper version 1.0

[2016-08-29 15:36] StrangeZak commented on #32
I mean its probably not a big deal, but its an easy fix, so it should be done.

[2016-08-29 15:36] StrangeZak commented on #33
Oh! That should be changed then!

[2016-08-29 15:37] StrangeZak commented on #15
Nope. Vectors and Mat4s do not have any SSE yet.

[2016-08-29 15:39] StrangeZak commented on #21
Ill squash out a few of these bugs this after noon after i get ready, a lot of these seem like easy fixes i can do in an hour or two. So you can focus on just getting the unit tests to merge in.

[2016-08-29 16:05] bvisness commented on #21
I'll merge and re-push so that conflicts will be resolved.

[2016-08-29 16:37] bvisness commented on #33
Changing the name has the potential to break projects though. Are we ok with that since we're still in early release, or would we want to mark it as deprecated somehow...? (I vote for just breaking things.)

[2016-08-29 16:38] bvisness commented on #30
I would vote to remove inner.

[2016-08-29 16:39] StrangeZak commented on #33
Were pre 1.0 were fine to break things as long as put a notice in that we broke something

[2016-08-29 16:42] StrangeZak commented on #30
Inner will be gone in my next commit then

[2016-08-29 16:43] StrangeZak commented on #30
All these bug fixes probably warrant a new major version right ?

[2016-08-29 18:35] StrangeZak commented on #21
Im writing a quick opengl visual test bed right now we can run some tests against also

[2016-08-29 19:00] bvisness commented on #30
I would say so, yes.

[2016-08-30 00:37] miblodelcarpio commented on #29
Cheers chaps, I (or, rather, @mmozeiko) have accelerated the regular `HMM_Power()` and I'll next learn how to handle floating point exponents for a new `HMM_PowerF()`.

[2016-08-30 00:54] mmozeiko commented on #29
This is pretty easy. For x and y floats, pow(x, y) is exp(y*ln(x)).

    HMM_Power(float Base, float Exponent)
    {
        return expf(Exponent * logf(Base));
    }

Obviously this will work only when Base > 0.

There are probably a bit faster variants, like exp2(y*log2(x)), because log2 should be faster operation than natural logarithm on floats. But this needs to be verified, not sure how fast

[2016-08-30 02:03] #21 closed

[2016-08-30 18:26] StrangeZak commented on #34
So, i dont know if this is a good reason or not. MSVC gives a warning if you put int into a function that takes a float argument so it generates and if you used Vec2i for creating a vector of "ints" it will not generate a warning that way.

[2016-08-30 18:27] StrangeZak commented on #34
So i kinda think that they are worth keeping just to keep the warning amount at a minimum

[2016-08-30 18:45] bvisness commented on #34
Good enough reason for me! (MSVC sounds very frustrating though!)

[2016-08-30 18:45] #34 closed

[2016-08-30 18:47] StrangeZak commented on #34
@bvisness It is im pumping out a lot of these bugs expect a commit within the next hour. Is the unit test up and running?

[2016-08-30 18:48] bvisness commented on #34
Not on Travis yet, but I can run them locally and report back. (I'll look into the Travis config now that it's merged.)

[2016-08-30 21:12] bvisness commented on #33
Fixed in #37.

[2016-08-30 21:12] #33 closed

[2016-08-30 21:13] bvisness commented on #32
Fixed in #37.

[2016-08-30 21:13] #32 closed

[2016-08-30 21:13] bvisness commented on #27
Fixed in #37.

[2016-08-30 21:13] #27 closed

[2016-08-30 21:13] bvisness commented on #30
Fixed in #37.

[2016-08-30 21:13] #30 closed

[2016-08-30 21:14] StrangeZak commented on #31
@bvisness If you could handle this bug that would be awesome because im not sure of all of the use cases that have this error

[2016-08-30 21:15] bvisness commented on #22
@JesseRMeyer We just merged a bunch more changes across the whole library (which is now thoroughly unit tested!) Give it another try and let us know how it goes. 😄

[2016-08-30 21:21] bvisness commented on #31
As I'm thinking about it more I really don't this this is a big deal, because:

- It is literally just the FOV parameter of `HMM_Perspective` that uses degrees, and that is a case that makes sense to use degrees.
- My gut tells me that the trig functions in a math library should use radians, not degrees
- Changing the trig functions to take degrees instead of radians would be very subtle and diffi

[2016-08-30 21:26] StrangeZak commented on #31
I like the FOV the way it is everything else if its fine to you i'd just leave it

[2016-08-30 21:26] bvisness commented on #31
Very well then!

[2016-08-30 21:29] StrangeZak commented on #28
What does a matrix Transpose function do?

[2016-08-30 21:32] bvisness commented on #28
Transposing a matrix [swaps its rows and columns](https://chortle.ccsu.edu/VectorLessons/vmch13/vmch13_14.html)

[2016-08-30 21:38] StrangeZak commented on #28
Heh if you know how to write one off the top of your head it'd be awesome if you could do it. If not then i will figure it out

[2016-08-30 23:13] JesseRMeyer commented on #22
Awesome works guys. I'll test this soon and will report back.

[2016-08-31 00:31] #28 closed

[2016-08-31 00:45] StrangeZak opened #43 "The Road to 1.0"
This isn't a issue at all, but i was just thinking, what do we need / what are we missing (besides testing) to be able to bring this thing into 1.0. I figured it was just good to open up a conversation over this,

I would love everybody s opinion on this :)

[2016-08-31 01:11] JesseRMeyer commented on #22
You magnificent bastards! http://imgur.com/a/1rig0

This really did act as a drop in replacement! The only difference so far is that HMM handles FOV slightly differently, so I had to change 45.0f to 90f for the perspective matrix. Very minor hurdle and obvious to track down. But you may want to make a mention of it for those wanting an absolutely easy transition.

[2016-08-31 01:36] StrangeZak commented on #22
@bvisness Any idea what hes talking about for the FOV thing ?

[2016-08-31 01:37] StrangeZak commented on #22
@JesseRMeyer Glad everything is working now :)

[2016-08-31 01:40] bvisness commented on #22
GLM probably requires you to put in half the desired FOV (45.0f for a 90.0f total FOV.) The function we're using just divides it in half before doing the math. No big deal, we're not doing anything wrong, just a difference in what the functions expect.

[2016-08-31 01:44] StrangeZak commented on #22
@bvisness Awesome, i think we can finally close this issue :+1:

[2016-08-31 01:50] #22 closed

[2016-08-31 04:41] bvisness commented on #29
Fixed in #40

[2016-08-31 04:41] #29 closed

[2016-08-31 15:05] bvisness commented on #43
Biggest thing that comes to mind is supporting operations across all data types. Like:
- `HMM_Length`, `HMM_LengthSquared`, `HMM_Cross`, and `HMM_Normalize` only support vec3 right now
- `HMM_Lerp` only support floats, not vectors (even though it totally could)

[2016-08-31 15:06] bvisness commented on #43
There are probably a bunch of more obscure linear algebra applications we could go into, but that's probably way beyond the purpose and intent of this library.

[2016-08-31 16:48] StrangeZak commented on #43
We dont handle NaN at all either. I dont know if its something we want to handle, or if its even worth our time. We had a conversation over it last night, ill post the thread here, but i was wonder what your opinion is on this.
![capture 3png](https://cloud.githubusercontent.com/assets/8273141/18138113/101cf530-6f60-11e6-96bc-4773cdae48f7.PNG)

[2016-08-31 19:02] bvisness commented on #43
Well, I think Handmade Math is trying to be a good *graphics* math library, not necessarily a full library for math *in general*. For example, if we were trying to be general-purpose math, we would probably have arbitrarily sized vectors and matrices, both horizontal and vertical vectors, probably lots more obscure functions. But doing all that hurts performance and adds complexity for the more li

[2016-08-31 20:31] StrangeZak commented on #43
Yeah, im thinking we could just throw an assert if the function receives bad input

[2016-09-05 21:16] StrangeZak commented on #43
@bvisness  I think you can only get the cross product between two vectors if the vector has 3 components. I dont have a linear algebra book laying around but i found this here when trying to do the upgrade: https://www.khanacademy.org/math/linear-algebra/vectors-and-spaces/dot-cross-products/v/linear-algebra-cross-product-introduction . I might just be being stupid but you can tell me if i am.

[2016-09-05 23:49] bvisness commented on #43
No, looks like cross product only applies to 3-dimensional vectors. I forgot about that...

I quote from [Wikipedia](https://en.wikipedia.org/wiki/Cross_product):

[2016-09-06 02:00] StrangeZak commented on #43
@bvisness Man, you had me on a search for like 2 days trying to calculate a cross product of a R2 and R4 vector. Good to know its cleared up now, ill finish off the patch tonight.

[2016-09-21 02:36] #43 closed

[2017-01-30 01:57] StrangeZak opened #51 "Orthographics Matrix"
This might just be me being stupid or me not doing something correct with OpenGL, but i think our Orthographics Matrix might be screwed can anyone with a working application throw a Orthographic matrix on their camera and see if anything is screwed up.

[2017-01-30 01:57] StrangeZak commented on #51
@bvisness

[2017-01-30 06:48] bvisness commented on #51
Works fine for me:

![image](https://cloud.githubusercontent.com/assets/4707402/22414521/b853c886-e685-11e6-86f2-7e23daf8ce61.png)

And hopefully our test should prove it's working. (Take a look at the example vector and what it gets projected to. Hopefully it should make sense.) https://github.com/StrangeZak/Handmade-Math/blob/master/test/hmm_test.cpp#L1662-L1673

[2017-01-30 06:48] #51 closed

[2017-01-30 06:50] bvisness commented on #51
By the way, to test it, all I did was change my projection matrix to use HMM_Orthographic with sensible settings instead of HMM_Perspective. My model and view matrices remained the same.

[2017-01-30 17:17] StrangeZak commented on #51
Dumb opengl bug last night forgot you gotta scale all sprites by the sprite size with a orthographic view, this is what happens when you go from 3d to 2d.

[2017-03-29 21:42] in0x opened #55 "HMM_Quaternion(...), HMM_Length(hmm_vecx) not defined as inline?"
Is there a reason why these functions are not defined with inline? My first assumption is that this is simply a typo since the defintions have HMMDEF. If the header is included in multiple translation units, these functions not being declared inline can cause multiply defined symbols, which I just ran into.

[2017-03-29 21:58] bvisness commented on #55
Whoops, that's a typo. Thanks for bringing that to our attention.

[2017-03-29 23:19] #55 closed

[2017-04-02 18:13] DanielGibson commented on #15
The code doesn't build without SSE currently, because HMM_RSquareRootF() uses HMM_SqrtF() instead of HMM_SquareRootF().

Furthermore I think it's not a good idea that SSE is used by default everywhere, because then the user has to `#define HANDMADE_MATH_NO_SSE` if there's no SSE available (e.g. i686 build or ARM or whatever).
Maybe add
[code]
somewhere at the top?
I think `HANDMADE_MATH_NO_SSE` on

[2017-04-02 18:19] DanielGibson opened #57 "Doesn't build in C (non-C++) mode"
It currently doesn't build in C mode, because `NLerp` uses `HMM_Normalize()` instead of `HMM_NormalizeQuaternion()`.

I also doubt that a compiler enforcing real C99 mode would be very happy about your usage of inline in the implementation.
Having function declarations like `extern float HMM_CosF(float Angle);` and then the implementation as `inline float HMM_CosF(float Angle)` looks very wrong.
A

[2017-04-02 19:19] bvisness commented on #57
Ack. This is what we get for only running our tests in C++ mode. I'll dig into these issues and see what I can do.

[2017-04-02 19:40] StrangeZak commented on #15
Ill take a look at this and fix this in the coming days.

[2017-04-02 19:53] DanielGibson commented on #15
Thanks a lot!

[2017-04-02 19:55] DanielGibson commented on #57
Great, thank you!

Regarding the C99 thing, it may make sense to test with -std=c99 and
using two 2 .c files, so only one of them has #define
HANDMADE_MATH_IMPLEMENTATION and the other can't "see" the function
implementations

[2017-04-05 14:51] bvisness commented on #57
@DanielGibson We definitely need to do something else for inlining because, as I'm just now realizing, the implementation has to be visible to everyone...

If we do `static inline` for all of our functions, then we don't need separate function definitions, right?

Also, if we go the `static inline` route, and the compiler decides not to inline a particular function, we end up with a separate defin

[2017-04-05 15:11] DanielGibson commented on #57
Yeah, the definition of inline functions must be visible to everyone, and yes, static inline might lead to duplicate definitions in every source file using them (or with stupid compilers maybe even in source files that only #include the header and don't use the particular function?).

extern-declaration-in-source-file sounds wonky indeed, especially as MSVC doesn't properly support C99, and I'm al

[2017-04-05 19:41] bvisness commented on #57
The `static inline` approach makes the most sense to me, and I would be surprised if most compilers would choose *not* to inline a relatively short function that we specifically told it to inline.

The old approach would work, yeah, but then we probably wouldn't get any inlining, anywhere, since the function implementations wouldn't be visible to other translation units. (Not that we are now, but

[2017-04-06 00:09] DanielGibson commented on #57
Or, as I suggested, use both: static inline for short functions, old extern for longer ones like HMM_Rotate(), HMM_LookAt(), HMM_InverseQuaternion() etc, /maybe/ HMM_Power()

Btw, I wonder why there's always that pattern of `Type result = {0}; result = HMM_Fun(); return result;`
Why not directly `Type result = HMM_Fun(); return result;`? Especially in unoptimized debugbuilds and if type is a struc

[2017-04-06 00:30] bvisness commented on #57
I'm not sure exactly why the weird pattern of explicitly initialize, then overwrite. I've kept up the pattern, assuming @StrangeZak had his reasons. (I seem to recall stuff about MSVC being terrible.) Feel free to make another issue for that 😄

I'll work on resolving the inline stuff once #58 is taken care of.

[2017-04-06 01:53] StrangeZak commented on #57
@DanielGibson For debugging the 1st option is much better to walk through and see what happens. Also, i just like the readability of the 1st option much more :) Sorry for not being active in this thread been out of town for a few days

[2017-04-14 05:24] StrangeZak commented on #57
why was this issue reopened @bvisness

[2017-04-14 05:27] StrangeZak commented on #15
@DanielGibson Fixing this tonight sorry life has been so busy

[2017-04-15 05:16] bvisness commented on #57
Because the inline stuff hasn't been fixed yet.

[2017-07-31 14:57] nlguillemot opened #66 "HANDMADE_MATH_CPP_MODE instructions?"
The instructions for HANDMADE_MATH_CPP_MODE are as follows:

[code]

By defining HANDMADE_MATH_CPP_MODE, HandmadeMath.h enables the following:
1. Declarations of overloaded functions
2. Declarations of operator overloads
3. Definitions of overloaded functions
4. Definitions of operator overloads

The documentation says other files should just include HandmadeMath.h without the #define, but if that

[2017-07-31 15:43] bvisness commented on #66
Yeah, I'm not sure about those instructions either. I've always just #defined HANDMADE_MATH_CPP_MODE everywhere I include it.

@StrangeZak, is it really possible to use C++ functions without defining HANDMADE_MATH_CPP_MODE everywhere? Is that just some very drastic difference between MSVC and other compilers?

[2017-07-31 17:11] StrangeZak commented on #66
@bviness It shouldn't be possible to use C++ functions without defining HANDMADE_MATH_CPP_MODE. As i wrapped everything C++ in that define.

[2017-07-31 17:13] StrangeZak commented on #66
Im not sure how we should handle this since most single-header libraries, don't really have a C++ mode in them.

[2017-07-31 17:59] nlguillemot commented on #66
One solution is to always declare the C++ functions when `defined(__cplusplus)` is true. If you try to use them, you'll get a link error unless you also define HANDMADE_MATH_CPP_MODE. Maybe that's a decent compromise if somebody wants to have some compile-time check that they're not using the C++ interface. The downside is that the C++ declarations will show up in autocompletions and etc.

[2017-07-31 20:45] bvisness commented on #66
Ok, so our two options are:
1. Correct the instructions to say that you must `#define HANDMADE_MATH_CPP_MODE` everywhere you include HandmadeMath.h
2. Remove `HANDMADE_MATH_CPP_MODE` and just include C++ content automatically.

I like option 2 since it makes things easier to implement, and no one is forced to use the C++ content anyway, but it's up to @StrangeZak to make the final call.

[2017-08-01 03:35] StrangeZak commented on #66
Yeah, option 2 is probably the way to go. 👍

[2017-08-02 15:12] #66 closed

[2017-08-17 17:12] bvisness opened #68 "Add support for matrix inverses"
From some discussion on the Handmade Network Discord, the issue of matrix inverses has come up. I think it would be good to beef up Handmade Math's handling of matrices in general (being that we only support mat4), but even just doing inverses of mat4's would be useful.

We would want to expose the determinant calculation as well. Also, not all matrices are invertible, but we could follow the exam

[2017-08-18 21:10] StrangeZak commented on #68
Yeah i've always thought our handling of matrices was pretty weak. I think this it would be a great idea to beef them up completely. Now would be a good time to plan on how we want to go about that, since right now im currently trying SSE a lot of our vector math so we dont have to depend on whatever compiler that handmade math is running on to do it for us.

[2017-08-18 22:12] bvisness commented on #68
If we want to make it really robust, I think we should add mat2 and mat3 with all the same features as mat4. It shouldn't be too difficult to do, but I think we should sort out the static/inline/extern thing before we add a gazillion more functions.

Then I figure we can also add `Determinant` and `Inverse` for mat2, mat3, and mat4.

[2017-08-18 22:22] StrangeZak commented on #68
Yeah that plan sounds great honestly. We really do need to figure out the static/inline/extern thing its been put off for a long time now.

[2017-08-20 12:21] msmshazan opened #69 "Gives errors regarding alignment in x86"
(same as title)

[2017-08-20 16:00] kiljacken commented on #69
It would be helpful if you could attach the error messages you get. A vague description of the problem like this will not help in solving the issue.

What's your setup like (OS, Compiler, C/C++, etc.) and in what context does the error occur? :)

[2017-08-20 18:53] StrangeZak commented on #69
Yep need some more info before i can fix this

[2017-09-09 17:48] revivalizer commented on #68
The above offers no detail on implementation, so I'll go ahead and offer some suggestions, this may already be what you guys have in mind.

There are many different ways to compute the inverse of a homogenous 4x4 matrix, depending on the properties of the matrix. Generally, the more constraints the matrix is under, the easier it is to compute the inverse.

In this case, "easiness" actually implies

[2017-10-11 18:25] revivalizer opened #71 "Making unit tests embeddable"
Hello all,

I am using handmade math in a project, using a unity build. I'd like to keep this structure.

My project also has a mechanism for running unit tests. I'd like to fold the HMM unit tests in so they run seamlessly in my build.

This could be accomplished by splitting test/hmm_test.c into a test/hmm_test_runner.c and test/hmm_tests.h.

test_runner.c would contain the infrastructure necess

[2017-10-11 20:01] StrangeZak commented on #71
@bvisness The unit test system is all yours. Take this 😋

[2017-10-11 20:29] bvisness commented on #71
I'm frankly not sure why you need to run our unit tests in your build, since we guarantee that all of our tests pass when we release a new version. I also don't think it makes sense to heavily modify our unit test setup to work with other people's projects, since Handmade Math is explicitly designed to be included as a single header file, not to have its entire git repo dumped into a project.

Fee

[2017-10-15 02:40] StrangeZak commented on #69
Closing this since we have not been given more info to fix this.

[2017-10-15 02:40] #69 closed

[2017-10-15 02:42] StrangeZak commented on #15
I'd say we take advantage of a lot of SSE features now. Will close this for the time being.

[2017-10-15 02:42] #15 closed

[2017-10-15 02:44] StrangeZak commented on #57
@bvisness I think now would probably be a good time to tackle this.

[2017-10-15 19:00] revivalizer commented on #71
I grant that this is perhaps not a typical request, but I think we (as a community) should do more of this, because:

But do you test on my particular combination of
- OS
- bitness
- compiler
- compiler options
- define set
- libc replacement
?

While single headers are nice for distribution and compiling, in practice I think a lot of people are not setup that way. You loose the ability to easily

[2017-10-15 21:40] bvisness commented on #71
Yeah, that's fair. I say go for it - as I thought about it more, I realized how little it actually changes the structure of the tests, but how much easier it makes things for you and others.

If you decide to prefix the test macros, I would prefer you prefix them with `HMT` (for HandmadeTest) instead of `HMMT`.

[2017-10-31 15:16] #57 closed

[2017-11-16 20:00] bvisness commented on #68
[Comment from the Handmade network:](https://handmade-math.handmade.network/blogs/p/2740-handmade_math_is_back#13531)

[2017-11-16 22:26] gearchip commented on #68
Just wanted to add a few more details here. So for my project I have been trying to get 3D picking or ray casting from 2D screen coords to 3D world coords working. Almost all of the information available use some type of matrix inverse or unproject function.

Some of the commonly used are from the glm library.
[Inverse](https://glm.g-truc.net/0.9.4/api/a00133.html#gabc94b29dea14e111e48bc963c47559b

[2017-11-16 23:11] RandyGaul commented on #68
Typically unproject would do a special-case inverse operation without requiring a full matrix inversion to go from screen to view space (camera space). Then a transformation inversion can be done to calculate the camera to world operation. From here there is the option of performing world space, or doing an inverse transform operation into model space.

Generally full matrix inversions are avoided

[2017-11-17 12:54] gearchip commented on #68
Thanks for the detailed reply. I've actually read several of your blogs but never looked at your math lib because I am compiling with c. However the functions you referenced look pretty easy to convert/learn from, time to study them a little bit.

[2017-12-13 20:50] StrangeZak opened #73 "Handmade Math Speed"
One of the things ive been thinking about recently is how handmade-math's speed fairs up against the other major math libraries.

Is there some sort of tool we can use to speed test all of our function just to get an idea where our bottlenecks are.

[2017-12-13 20:55] bvisness commented on #73
I'm sure you could pretty easily write a benchmark program that performs common graphics applications and times the results.

[2017-12-14 03:27] StrangeZak commented on #73
Yeah i was just kinda wondering if there was something like that already written for us. Because i dont mind writing our own, but just sort of a thought

[2017-12-19 05:20] bvisness commented on #73
I spent some time tonight making a small benchmark program. I didn't get around to testing it against GLM or other libraries, but I did compare a couple operations with SSE enabled vs. SSE disabled.

[code]

I can keep working on it soon.

[2017-12-19 06:24] StrangeZak commented on #73
Oh wow nice! im just kinda interested to see how much room we have to optimize. Also how we fair against other libraries will be nice to see! Im not very good  at SSE so its nice to see the few things i did are faster

[2017-12-19 06:49] RandyGaul commented on #73
You might have to look at the disassembly to make sure the scalar version wasn't vectorized for you by the compiler. Often times when I was looking at SSE perf stuff it was pretty difficult to put together good comparisons.

Personally I would love to see scalar vs SSE implementation of an algorithm, like maybe a cloth solver or something. Then test out an implementation with many load/stores. I h

[2017-12-19 07:10] bvisness commented on #73
My curiosity got the better of me and I tested everything against GLM, and tested both with and without compiler optimizations. Turns out Handmade Math is overall better, although the gains diminish a lot with optimization.

https://docs.google.com/spreadsheets/d/1e-jQt7789JEE-_UoQFmKPHB1Whcx5xTYROCo7snhe5s/edit?usp=sharing

However, a lot of the timing in these results is the overhead of generati

[2017-12-19 07:12] bvisness commented on #73
@RandyGaul I would love to dig into the disassembly at some point. I ran my latest batch of tests both with and without the `-O3` flag for gcc, so hopefully that can provide a better point of comparison, although it's still pretty rough.

[2017-12-19 17:13] StrangeZak commented on #73
I feel like the reason the gains are SO small on optimized builds (-03) is because the optimizer will attempt to SIMD the code for you. Sadly we can not depend on the compiler to do it for us though, as each compiler will SIMD the code in a different way so it is easier to just flat out write it our self so we can prevent the optimizer from doing bad things.

Also the test was just adding vec4's t

[2017-12-19 17:28] bvisness commented on #73
@StrangeZak There are three tabs on the spreadsheet! Take another look.

[2017-12-19 17:40] StrangeZak commented on #73
Oh Wow! Our unoptimized SSE builds are VERY fast! That makes me pretty happy.

The data i think that is really interesting here is the Martix Multiplication data. Id love to see the disassembly to see what we could do to squeeze 2 seconds or more out of our optimized SSE version.   Id love to beat the optimizer here, and im fairly sure we could.

In every other case optimized (with SSE enabled, wh

[2018-02-09 20:56] zee2200 opened #74 "SSE for everything!"
your library's speed could easily be improved signficantly but having vec2 and vec3 be padded to be 16 bytes long, you then can use SSE for all of those calculations. Also consider directly passing __m128 instead of passing a union, that should also give you a performance boost, I'd love to go through and edit the library myself but I'm working on my own right now, jut thought I'd leave this sugge

[2018-02-09 21:05] RandyGaul commented on #74
Directly passing around __m128, in my own tests, hasn't been necessary for quite a number of years now. At least for MSVC.

[2018-02-09 21:18] zee2200 commented on #74
Fair enough, I'm using gcc so that's probably the difference.

[2018-02-09 21:41] bvisness commented on #74
Zak and I tried to SSE our vec2 and vec3 operations before, but padding them to 16 bytes breaks the union stuff we do with the bigger types (like [this](https://github.com/HandmadeMath/Handmade-Math/blob/master/HandmadeMath.h#L367), for example). Plus, given the library's focus on 3D graphics, we figured it was probably ok if vec2 and vec3 weren't explicitly SSE'd.

Really, though, Handmade Math h

[2018-02-10 00:14] kavika13 opened #75 "Make coordinate system more clear in function naming (LH, RH, NO, ZO)"
When porting old games from D3D -> OpenGL, it's very useful to understand what type of coordinate system you're using. I think pushing this information into the function names could be useful.

GLM supports all these variations. However, even if you decided to support "the one true way" (whatever way that is hehe), then at least being clear about what that one way (is in the function name) might b

[2018-02-10 14:41] bvisness commented on #75
This is a good idea. I was just considering this myself, so I’m glad we have an issue for it now!

At the very least we will clearly document which coordinate system we use. I would love to support more coordinate systems as well.

[2018-02-11 19:33] bvisness opened #78 "Better benchmarks"
We should come up with a proper benchmarking solution for Handmade Math. Since we care a lot about performance, it would be worth having automatic benchmarks that run on every build.

It would be nice if our benchmarking tools could display historical data to us in some way so that we can easily judge the speedup of a particular change.

This issue inspired by @IJzerbaard's very helpful quick-benc

[2018-02-12 00:45] StrangeZak commented on #78
I agree are there any web tools we can just send some data to and it will graph it over time.

I already have a landing page for handmade math: http://handmade-math.com/

We could extend this to include benchmark data for us since its just on a normal digitalocean droplet linux server. Not sure if there are any 3rd party tools that automatically do this already, or if its something we'd have to wr

[2018-02-12 01:21] RandyGaul commented on #78
Personally I would love to see a benchmark by taking a chunk of code out of an actual game or product. Maybe like a particle system, or a physics solver, or maybe like an audio mixer. Anything would work. Plotting timings over time for a real-world use-case could be very interesting and educational.

Also besides just benchmarks, having disassembly of a function can make a good data point. For exa

[2018-02-12 02:56] StrangeZak commented on #78
Hi @RandyGaul

I completely agree with everything you've said. Real world bench marking is way better than just making a big test that multiplies matrices 1 million times for example.

I feel like there's a few different types of info we'd want out of a benchmark tool.

1. The ability to see optimized and unoptimized disassembly  on a per function basis for a few separate compilers (GCC and Clang?

[2018-02-12 03:09] StrangeZak opened #79 "NEON Support"
Just wanted to get some opinions on if its worth it or not to optimize Handmade Math for NEON (Arm CPU SIMD instructions). Its something i've been thinking about doing recently although i am not comfortable with the instructions so it would require quiet a bit of work.

I am willing to do it though, im just looking to see if there's interest / anyone using handmade math on a ARM based CPU.

[2018-02-12 04:45] IJzerbaard opened #80 "Alternative implementations for vec4 normalization"
Normalization could be implemented with rsqrt and a Newton step to get it up to a decent (though not full) accuracy. I have some benchmarks here: http://quick-bench.com/rhPor3bWaoa906sYDP1OA674GXY

However, this is not a clear cut win. For example, the Newton step requires two constants. Calling that function in isolation may not be fast, since those constants may not be in cache. The low-accuracy

[2018-02-18 20:19] #71 closed

[2018-03-13 16:32] coastwise opened #82 "Visual Studio can't compile aligned function parameters"
When compiling using Visual Studio 2017 I get the following errors:

c:\users\pmckenna\documents\experiments\src\Handmade-Math/HandmadeMath.h(707): error C2719: 'Right': formal parameter with requested alignment of 16 won't be aligned
c:\users\pmckenna\documents\experiments\src\Handmade-Math/HandmadeMath.h(744): error C2719: 'Left': formal parameter with requested alignment of 16 won't be aligned

[2018-03-13 16:33] coastwise commented on #82
Sorry, forgot to mention that this is with v1.5.0

[2018-03-13 17:58] RandyGaul commented on #82
Enable `__vectorcall` https://msdn.microsoft.com/en-us/library/dn375768.aspx.

[2018-03-14 05:30] ryanfleury opened #83 "HMM_LookAt Using/Returning Partially Uninitialized Matrix"
Hi there. I was struggling to debug an issue and traced it back to `HMM_LookAt`...

The issue has been marked below with comments.

    hmm_mat4 Result; // uninitialized

    hmm_vec3 F = HMM_NormalizeVec3(HMM_SubtractVec3(Center, Eye));
    hmm_vec3 S = HMM_NormalizeVec3(HMM_Cross(F, Up));
    hmm_vec3 U = HMM_Cross(S, F);

    Result.Elements[0][0] = S.X;
    Result.Elements[0][1] = U.X;
    Res

[2018-03-14 13:23] bvisness commented on #83
I swear I fixed that before...sorry about that. Fix version incoming.

[2018-03-14 15:32] StrangeZak commented on #82
Hey, ill look into getting this fixed. @coastwise I see all your commits passing everything as const ref's instead due to us having to keep C compatibility we can't do that. If i remember correctly this only happens when you compile in MSVC using a x86 configuration ?

[2018-03-14 17:54] ryanfleury commented on #83
No worries! Thanks for the quick response :)

[2018-03-15 16:44] coastwise commented on #82
Thanks! That is the configuration I'm using yes. I'm calling cl directly.

I guess I saw the operator overloads and didn't realize they were in a #ifdef __cplusplus block. I obviously won't make a pull request with it, but the const refs have unblocked me from developing on windows for now.

Cheers,
Patrick

[2018-03-15 19:46] StrangeZak commented on #82
If you compiled with x64 it wouldn't be an issue, but i understand that isn't the real solution here

[2018-03-19 04:39] StrangeZak commented on #82
@coastwise Hey spent some time tonight trying to reproduce this in Visual Studio 2017, and i couldn't. Can you provide me a with repro file?

[2018-03-19 16:44] coastwise commented on #82
Hey, I've added a build script and minimum source file to reproduce the errors I'm having.

Try running visualstudio_build.bat in the tests folder

https://github.com/coastwise/Handmade-Math/tree/visualstudio

[2018-03-19 17:12] StrangeZak commented on #82
Thanks!

[2018-03-19 17:44] StrangeZak commented on #82
Weird seems that i can't reproduce this on VS2017. All i did was is change the VcVarsall path in the bat file you supplied fork you supplied. Ill check later if one of my other PCs has a earlier version of VS installed

[2018-06-03 14:33] Nairou opened #85 "Quaternion from Mat4?"
Is there a way to use a LookAt function and end up with a quaternion? I know HMM_LookAt gives you a mat4, but I don't see a way to convert a mat4 to a quaternion.

Ultimately, I'm trying to find a way to construct a quaternion and specify it's Up vector. LookAt seems to be the only available function that does that.

[2018-06-03 22:43] Nairou opened #86 "Rotate vector by quaternion?"
I don't know if I'm not seeing it or if it isn't available. Right now I can accomplish it by converting the quaternion to a mat4 and multiplying the vector by that. But I'd like to skip the mat4 step if possible, since it defeats the purpose of the quaternion.

[2018-06-03 23:42] #83 closed

[2018-06-04 00:03] bvisness commented on #86
You're doing it right already. Quaternions and matrices are two different ways of encoding rotations, but quaternions can't interact with vectors directly because they are simply talking about different things.

Matrices and vectors speak the same language. A matrix describes a transformation by encoding what that transformation does to your basis vectors. For example, a 2x2 matrix that rotates co

[2018-06-04 00:03] #86 closed

[2018-06-04 00:09] bvisness commented on #86
Oh, and just to address one other point - it doesn't really "defeat the purpose of a quaternion". In a complex application, you may need to apply many rotations in sequence (such as a child object inheriting its parent's rotation) or interpolate between other rotations (such as in a character animation system). Quaternions are very good at this, and don't suffer from gimbal lock. You only need to

[2018-06-04 00:52] bvisness opened #87 "Vector normalization could easily be faster"
When digging into #80, I decided to see how GLM implemented vector normalization. Turns out [their approach](https://github.com/g-truc/glm/blob/master/glm/detail/func_geometric.inl#L94) is pretty clever:

[code]

This avoids both an actual square root _and_ a division by exploiting the fact that inverse square roots are cheap and that `dot(v, v)` gives you the magnitude of the vector squared.

I r

[2018-06-04 00:53] bvisness commented on #80
Sorry for taking a look at this so late. This is all interesting, but it doesn't sound like the performance gains are enough to offset the extra complexity (and caveats) this would add. However, I found some interesting stuff while digging into this, which you can see over at issue #87.

Thanks for submitting this!

[2018-06-04 00:53] #80 closed

[2018-06-04 00:56] RandyGaul commented on #87
I would be a little worried about the error margins. Many times vectors are normalized in an attempt to ensure some kind of numeric drift does not occur. Personally I wouldn't like to see an inverse square root inside my math libraries, whether at work or in my personal codebase, at least not as the default option. In codebases where an "inverse sqrt option" for functions involving a sqrt are neve

[2018-06-04 01:17] bvisness commented on #87
Given this library's focus on graphics math, and the fact that GLM actually uses this for vector normalization, do you think it's really that big a deal?

My normal advice would be to write your own normalize function, but of course changing how vectors are normalized has far-reaching implications for many other functions. We could do another #define (like `#define HMM_NO_INVERSE_SQUARE_ROOT`), bu

[2018-06-04 04:07] bvisness commented on #85
No, you're right. I think we should have a LookAt for quaternions. I'll get back to you on that one...

[2018-06-04 05:20] IJzerbaard commented on #87
The inverse square root implementation (if used at all) should IMO definitely be _mm_rsqrt_ss/_mm_rsqrt_ps, which are built-in and fast.

[2018-06-15 13:21] kaervin commented on #79
I would be interested in NEON support.
Would be great for any game/project that comes to the switch, a platform I have thought about releasing on.

[2018-06-15 18:29] StrangeZak commented on #79
My current project im working on is also targeting The Switch, on the games repo there's a Handmade Math Version with support the NEON SIMD instruction set. Ill look at pulling it out and moving it into public handmade math version but it might take a bit of time

[2018-06-15 19:50] kaervin commented on #79
That would be nice!

[2018-08-11 22:13] Leandros opened #89 "Your matrices aren't column-major, despite claimed."
Despite you claiming that your matrices are column major, they're row-major. You might want to mention that somewhere.

[2018-08-12 00:41] #89 closed

[2018-08-12 20:28] bvisness opened #90 "Mat4 SSE definition looks row-major"
Our definition of hmm_mat4 has an SSE variable called `Rows`. This should really be `Columns`, since our matrices are column-major. Apparently we're doing all the math correctly, but we should probably rename the variable to avoid confusion.

@StrangeZak is this ok to do, or am I misunderstanding something about our SSE implementation?

[2018-08-14 17:12] StrangeZak commented on #90
Totally okay to do

[2018-08-17 18:02] #90 closed

[2018-10-06 23:38] kavika13 opened #92 "No way to run tests on Windows"
Wondering if there's any interest in making project files (or some other build solution?) for running the test suite in MSVC.

I am happy to put them together if they'd be useful. I have VS 2015 and got those projects working there. Not sure if VS 2017 requires a separate solution version, but I could also make that project if it does.

I cannot get VS 2012 working without modifying the tests. C99

[2018-10-07 00:09] StrangeZak commented on #82
Ohhhhhhh, i never use x86 mode this could actually be a problem! Let me see if i can reproduce ill get back to you ASAP

[2018-10-07 00:11] StrangeZak commented on #92
Hmm... I think solution files are unique per Visual Studio version (I think they even change with minor patches) and the version of build toolchain the user has on. This might be a case for cMake, just so people can generate "solution" files for any platform

[2018-10-07 02:08] bvisness commented on #92
I needed to use C99 designated initializers in order to make the tests run in both C and C++, so I doubt we'd be able to get rid of those. Although if you manage to find a way to make C register tests before the main function runs, by all means do so, because I struggled for quite a while to make that work.

Making the tests runnable within MSVC would be really good, though, considering how many o

[2018-10-09 02:27] kavika13 commented on #68
@RandyGaul what are the names of the functions that you were linking? It seems the line numbers went out of sync, and the lib rename seems to have clobbered the history

[2018-10-16 20:28] StrangeZak commented on #82
So an update on the investigation. I compiled HandmadeMath.h in x86 mode with C and CPP and got no errors. This might be caused be a default Visual Studio parameter.

`S:\Handmade-Math>cl main.cpp
Microsoft (R) C/C++ Optimizing Compiler Version 19.15.26726 for x86
Copyright (C) Microsoft Corporation.  All rights reserved.

main.cpp
Microsoft (R) Incremental Linker Version 14.15.26726.0
Copyright (

[2018-10-17 05:00] kavika13 commented on #82
`main.cpp` isn't in the repo, so I don't know what file you are compiling.

If you just include the `HandmadeMath.h` header and don't actually pass parameters to the affected functions then you won't get these alignment errors, hence why I'm trying to compile the test suite.

On the plus side, I do not see this repro in VS 2017 in x86 mode :) Just on VS 2015.

I tried with cl.exe, roughly as you d

[2018-10-17 05:03] kavika13 commented on #82
`main.cpp` and `main.c` aren't in the repo, so I don't know what files you are compiling.

If you just include the `HandmadeMath.h` header and don't actually pass parameters to the affected functions then you won't get these alignment errors. You also won't actually be using any of the functions, so that's not super useful. Hence why I'm trying to compile the test suite :)

On the plus side, I do

[2018-10-17 16:42] StrangeZak commented on #82
Seems ill have to get VS2015 installed and get back to you. I LOVE when compiler updates change things haha.

[2018-11-29 17:49] bvisness commented on #87
Randomly came back to this issue. Any objections to me implementing this as a `FastNormalize` function and leaving the existing normalize behavior the same?

[2018-11-29 18:08] StrangeZak commented on #87
Im cool with it, id just explain what the case should be used for like show the differences between the two

[2018-11-30 15:58] bvisness opened #95 "HMM_RSquareRootF has different precision between SSE and non-SSE"
As of this writing, here is what HMM_RSquareRootF looks like:

[code]

This means that SSE builds will use an approximation, but non-SSE builds will not.

What do we want to do to fix this? Making the SSE version more precise or making the non-SSE version faster would both be breaking changes. But, I suspect that someone who's deliberately using an inverse square root would expect it to use an app

[2018-11-30 15:59] bvisness commented on #87
Fast normalization has been added. Regular normalization has been left in place. If you look at the tests, you'll see that the precision is definitely worse, as you'd expect, so good call by @RandyGaul.

It's actually worth noting that we don't use a particularly fast inverse square root on non-SSE builds, so I've opened #95 to address this.

[2018-11-30 16:41] StrangeZak commented on #95
Id go with making the non-sse rsqrtf faster (use approximation). Generally most people are probably using SSE builds anyways. So the approximation is something they're probably used to.

[2018-11-30 22:19] StrangeZak commented on #75
@bvisness You wanna do this sometime soon? Not sure what your schedule looks like right now. Kinda wanna smash out a bunch of these issues before the end of the year. Maybe a solid 2.0 RC

[2018-11-30 22:19] StrangeZak commented on #74
Closing this issue for now, will re-open it once we add support for mat2, mat3. To see if we really should pad our vec2, and vec3s out!

[2018-11-30 22:19] #74 closed

[2018-12-02 00:49] bvisness commented on #75
Would be a good idea and probably big enough to break all the backwards compatibility. We should maybe make a GitHub milestone for 2.0 so we can tag some issues to it.

[2018-12-02 21:48] StrangeZak commented on #75
That sounds like an awesome idea, ill get that going.

[2018-12-02 21:52] StrangeZak opened #96 "SSE all Quaternion ops"
Quaternions are the *only* part of Handmade Math that are *not* SSEd yet. Lets just finish this

[2019-03-11 18:14] bvisness commented on #96
Hey guess what #97 just resolved

[2019-03-11 18:14] #96 closed

[2019-07-07 20:04] StrangeZak opened #99 "Introduce "safe" float comparison"
Introduce a safe form of comparing floating point. == and != should not be used when comparing floating numbers.

`./HandmadeMath.h:854:31: warning: comparing floating point with == or != is unsafe [-Wfloat-equal]
    hmm_bool Result = (Left.X == Right.X && Left.Y == Right.Y);
[code]

[2019-07-08 00:26] bvisness commented on #99
Which functions are doing this?

[2019-07-09 18:08] neurotok opened #100 "Bug in HMM_Perspecive"
Values in projection matrix are in the wrong places, apart from that if we decided to use tangens instead of cotangents in the [0][0] position aspect ratio also have to be inverted so:

 float TanThetaOver2 = HMM_TanF(FOV * (HMM_PI32 / 360.0f));

    Result.Elements[0][0] = 1.0f / AspectRatio / TanThetaOver2;
    Result.Elements[1][1] = 1.0f / TanThetaOver2;

Or just compute cotangent up front:

f

[2019-07-09 20:12] bvisness commented on #100
I've successfully used HMM_Perspective in a couple projects, and I recently ported the exact same math over to Rust for another project of mine without issue, so I'm surprised to hear that something wouldn't be working. Could you be more specific about which values are in the wrong place?

[2019-07-09 20:16] sjml commented on #100
I also ran into this just today and was assuming I had to be wrong... I can confirm that at the very least the produced matrix isn't the same as GLM's. I don't know which one is technically "correct," but that they are different is odd. I'll do some revision-scrubbing to get the actual input/output values. (Applying the precomputed cotangent, as recommended by @neurotok above, got them in sync.)

[2019-07-09 20:27] sjml commented on #100
The input values:
Aperture: `90.0f` (`M_PI / 2.0f` for GLM)
Aspect: `(float)1024 / (float)768`
Near: `200.0f`
Far: `0.001f`

The output 4x4 matrices are as follows.

GLM:
[code]

HMM at present:
[code]

HMM with precomputed cotangent patch:
[code]

[2019-07-09 20:29] neurotok commented on #100
Well I found that while playing with several c math library for 3d (cglm, kazmath, linmath.h), and HMM only one that get dirrents results:

Heres my sample code:

#include <stdio.h>
#include <math.h>
#ifndef M_PI
#define M_PI 3.14159265358979323846
#endif
#include <kazmath/kazmath.h>
#include <cglm/cglm.h>
#include "linmath.h"
#define HANDMADE_MATH_IMPLEMENTATION
#include "HandmadeMath.h"
int main

[2019-07-09 20:38] sjml commented on #100
FWIW, the matrix produced by HMM is *close* to the others under certain circumstances — in my 2D context, for instance, it just looks like the FOV is a bit off. If I hadn't been swapping in HMM as a replacement (feeding it the same values), I may not have noticed. That might account for why it hasn't been caught before .

[2019-07-09 20:38] StrangeZak commented on #100
I’ve also used Handmade Math for several 3D projects and have had no issues with the perspective matrix.

I’ll look into this today and see if we’re simply just using the “wrong” Algorithm.

[2019-07-09 20:50] bvisness commented on #100
Well hmm. Looks like we might not be using the aspect ratio correctly in the [0][0] and [1][1] cells? The [0][0] cell doesn't even take the FOV into account at all, but for example the formulation laid out [here](https://www.songho.ca/opengl/gl_projectionmatrix.html) looks like this:

![image](https://user-images.githubusercontent.com/4707402/60921693-c0fee080-a260-11e9-88ee-9dd9debe2e8c.png)

(wh

[2019-07-09 20:53] bvisness commented on #100
@StrangeZak We should probably just use the Khronos formulation @neurotok linked above.

https://www.khronos.org/registry/OpenGL-Refpages/gl2.1/xhtml/gluPerspective.xml

[2019-07-09 20:55] StrangeZak commented on #100
I’m okay with that. Do you wanna do the update or I can as well.

At the same time we really need LH and RH versions of these functions.

On Tue, Jul 9, 2019 at 1:53 pm Ben Visness <notifications@github.com> wrote:

[2019-07-09 20:55] bvisness commented on #100
I'll take care of it in a bit. I wanna see what happens at extreme aspect ratios now...

[2019-07-09 20:56] StrangeZak commented on #100
Haha, okay thanks!

On Tue, Jul 9, 2019 at 1:55 pm Ben Visness <notifications@github.com> wrote:

[2019-07-09 21:01] bvisness commented on #100
Actually wait. Does the FOV in your program refer to the vertical or horizontal field of view? I think we might have ended up using a formulation that uses horizontal, while everything else uses vertical.

[2019-07-09 21:13] bvisness commented on #100
I think that's exactly what happened. See the following:

![image](https://user-images.githubusercontent.com/4707402/60923156-eb05d200-a263-11e9-8e5e-642353887ae5.png)
![image](https://user-images.githubusercontent.com/4707402/60923174-f3f6a380-a263-11e9-8d93-36afa462df2f.png)

So it's not "wrong", exactly, but it's certainly not what most people would expect. And it's also not what people want fr

[2019-07-09 21:18] StrangeZak commented on #100
Honestly, this should be fixed "correctly" horizontal FOV doesn't make much sense. So im okay with fixing this even if it breaks something. Id just put a comment, or a message in the release notes regarding what we broke, and why.

[2019-07-09 21:18] neurotok commented on #100
Well... what I understand from the lectures frustum is uniform and there is no differences between X and Y

https://youtu.be/mpTl003EXCY?t=767

[2019-07-09 21:22] StrangeZak commented on #99
Actually these are just the Equals functions. So this warning really isnt valid, might wanna disable this warning on clang

[2019-07-09 22:18] bvisness commented on #100
Could you all try this patched version and let me know how it goes? Thanks!

https://github.com/HandmadeMath/Handmade-Math/blob/perspective-fov-fix/HandmadeMath.h

[2019-07-09 22:20] bvisness commented on #99
That sounds like the better option. I'd imagine this is rarely used anyway, and if it is, it's probably comparing to zero or something.

[2019-07-10 06:15] neurotok commented on #100
Perfect :) Case close.

P.S. Should I process writing inverse function or this is something already prepared in some other branch waiting for it's release ?

[2019-07-10 12:59] sjml commented on #100
LGTM!

[2019-07-10 16:29] bvisness commented on #100
Great, I'll go ahead and merge that change.

@neurotok We don't have inverses yet, mainly because a general-purpose inverse is not necessarily the best option for most people. You can read discussion about that in #68.

[2019-07-10 16:29] #100 closed

[2019-07-12 18:37] RandyGaul commented on #100
So is the difference simply w/h vs h/w?

[2019-07-12 18:40] RandyGaul commented on #68
@kavika13 oh sorry! I only just now saw your question. And yes I did break my links. Here’s one I promise not to break again.

https://github.com/RandyGaul/cute_headers/blob/master/cute_math.h

The function in question was compute_mouse_ray. There is also a lookat function to compute a camera matrix and its inverse.

[2019-07-12 18:49] RandyGaul commented on #99
You’re both right, comparing to known values (like exactly identity matrix) is about the only use case here. Anything beyond that and users will prefer to write their own custom little comparison inlined in their code.

I would actually recommend simply deleting the comparison function you have instead of silencing the warnings. It’s just a little extra bloat and not actually a useful function. Bu

[2019-07-12 18:58] RandyGaul commented on #95
Typically people are used to SIMD functions having low precision, for example with custom cos or sin functions that expect inputs to be mapped from -pi to pi before calling. So I don’t think it’s too big of a deal.

[2019-07-12 20:06] bvisness commented on #99
Do we have a matrix equals function?? We should definitely remove that. I can see a use for the vector case, but really only in the situation where you’re checking for zero. In that case I suppose checking each element is probably faster than getting the length (but I have not done any tests to verify that!)

[2019-07-12 20:08] bvisness commented on #99
I know we’re not really living in crazy package land here, but in the interest of backwards compatibility, should we silence the errors for now and remove the function(s) in a future major release? (Like maybe alongside handedness stuff.)

[2019-07-12 21:46] RandyGaul commented on #99
Oh my mistake, I thought I was looking at matrix comparisons. I'm not actually sure how often people use vector comparisons. I never have myself 🤷‍♂

To check for all zeros in a vector I do `dot(a, b) == 0`, and write this inline. I've never had a case where I actually used a vector equal operator. In my own math header I use `_mm_cmpeq_ps` and `_mm_cmpneq_ps` simply because I happened to see thes

[2019-07-14 21:57] StrangeZak commented on #99
I’m all of option 2 this is what Unreal Engine 4 does. They say “Hey X function will be deleted in the next version” with a #warning and then remove it next version. Gives people time to update their usage of the library

[2019-07-15 16:27] StrangeZak commented on #85
Something interesting i found:

https://d3cw3dd2w32x2b.cloudfront.net/wp-content/uploads/2015/01/matrix-to-quat.pdf

[2019-07-15 20:04] bvisness commented on #85
I guess I could just run a LookAt matrix through that and call it a day...I'll ponder that.

[2019-07-15 20:08] RandyGaul commented on #85
Yes, that's a good solution. The pdf you found is quite nice.

[2019-07-18 00:06] bvisness commented on #31
Reopening because this continues to bother me and I think it shows up in more places now. (Like HMM_Rotate, which takes an angle in degrees.)

At the very least, we need to name parameters Degrees or Radians depending on what they expect. But I think we should choose a thing and stick to it for all but very special cases (like maybe the FOV of HMM_Perspective).

This seems like a good candidate fo

[2019-07-29 23:54] bvisness commented on #92
Renamed to reflect the main gist of the problem. I think it would be reasonable to support just the C++ tests on Windows, and it would be fine to do it through a batch file to keep the problem reasonably scoped. This will never run in CI anyway, unless Travis adds MSVC support, so we can just do what it takes to sanity-check work locally before committing it.

[2019-07-31 17:17] StrangeZak commented on #92
@bvisness So apparently you can run our tests on Windows now with TravisCI

[2019-07-31 21:38] #85 closed

[2019-07-31 22:22] #92 closed

[2019-08-03 01:45] StrangeZak commented on #99
@bvisness Any opinions on what we should do here. Looking to close this ticket this weekend

[2019-08-03 01:48] StrangeZak commented on #31
Do we have a list of what expects radians and what expects to degrees. We can do some sort of analysis then decide on what we want to do here

[2019-08-03 05:26] bvisness opened #106 "Test independence from CRT"
A certain type called `hmm_bool` is of type `int32_t` and imports `stdint.h` to make it work. Oops.

We should fix this, and find a way to test that adding all math functions actually does allow you to compile it without the CRT or any standard libraries.

[2019-08-03 05:33] bvisness commented on #99
I think we should definitely silence the float comparison warning. The kind of bug it’s trying to prevent is just not applicable here. And I think we can go ahead and throw in a deprecation warning of our own, and plan to remove the operator in version 2.0.

[2019-08-03 05:56] bvisness commented on #31
My analysis:
- Trig functions take radians.
- HMM_Perspective takes degrees for the FOV and converts to radians during the calculation.
- HMM_Rotate takes an angle in degrees and converts it to radians during the calculation.
- HMM_QuaternionFromAxisAngle takes an angle in radians.

I believe GLM uses degrees for [their perspective matrix](https://glm.g-truc.net/0.9.4/api/a00151.html#ga283629a5ac7

[2019-08-03 06:03] bvisness commented on #31
Maybe it’s worth having a flag for radians vs. degrees for people whose engines use degrees for everything. It should be basically trivial to add a macro to our internal use that converts degrees to radians or does nothing.

[2019-08-03 06:06] bvisness commented on #31
Ok yeah, I would like to switch everything to radians by default but add a #define allowing you to use degrees. We could even have the define’s behavior on by default, in a sense, if we wanted to have degrees be the default to match GLM or whatever. (I think the functions should be implemented in radians because the math is all in radians though.)

[2019-08-03 17:50] bvisness opened #108 "Do we need the overloaded C++ functions?"
I'm not sure we gain anything by having the overloaded versions of things like `HMM_Multiply` or `HMM_Add`. They are not really less verbose than the full names, we provide operator overloads for all the important ones, and they are a lot of work to maintain.

Obviously we can keep them if they are useful to people, but I figured I'd ask the question. I personally have stopped using overloaded fun

[2019-08-03 17:51] StrangeZak commented on #31
Yep. That sounds like the solution that I would go for. Have everything in radians by default then be able to switch it to degrees if the user wants to via a #define.

Make sure we document somewhere that GLM uses degrees for everything and if you are coming from GLM to define that flag

[2019-08-03 17:52] StrangeZak commented on #99
Cool. I’ll push a fix sometimes today silencing this warning

[2019-08-03 17:54] bvisness opened #109 "What is LinearCombineSSE and do we need it?"
I have no idea what it does, and it looks to me like it's mainly used as an implementation helper for multiplication. I'm wondering if it needs to be an actually "public" part of Handmade Math.

[2019-08-03 17:55] StrangeZak commented on #106
Most of my projects don’t use the CRT and I simply define HMM_SINF etc to my own.

Importing stdint.h is fine as it is simply a file that declares data types that guarantee a size for each compiler.

[2019-08-03 18:00] StrangeZak commented on #109
It’s a helper function we use only for multiplying matrices. I didn’t know that we declared it in the header part of handmade math. That can simply be removed and made a internal (static) function in the implementation portion of the file

[2019-08-03 18:01] StrangeZak commented on #108
I could imagine some C++ like this feature of just being able to call HMM_Multiply with whatever data types and not have to call the explicit functions for that data type. Either way I’m not torn on keeping them or not

[2019-08-03 18:02] bvisness commented on #109
Ok. We'll have to see if that will be possible, because it might be used in functions declared as inline, but maybe we can prefix the name with an underscore or something to indicate that it is internal only.

[2019-08-03 18:07] StrangeZak commented on #109
Multiplication _shouldnt_ be inlined I think

[2019-08-03 18:09] bvisness commented on #75
Let's discuss how we want to go about this. Do we want to keep a single set of functions like `HMM_Perspective` that change their behavior based on a #define? Or do we want to make multiple functions, like `HMM_Perspective_LH` and `HMM_Perspective_RH`?

I think multiple functions would be a good idea just to keep things flexible - both implementations will be there, so we might as well make both i

[2019-08-03 18:14] bvisness commented on #106
Oh, I didn't realize that. I just recently had a project where using `<stdint.h>` was problematic because I was compiling for a WASM environment without Emscripten or any other compatibility layer, so I guess I conflated those issues. Still, I'm not really sure why it's important to specify the width of `hmm_bool`.

[2019-08-03 18:22] StrangeZak commented on #106
I haven’t really looked into it much but every big application defines bools as 32bit wide signed ints. I think it’s just a habit I’ve developed from work

[2019-08-03 18:31] StrangeZak commented on #75
Okay, so i think we should keep functions like HMM_Othographic around. Simply to not break compiles for people using the library. By default HMM_Orthographic and all other functions will call their *_LH versions unless a flag is specified to use the RH versions. People should also be able to explicitly call LH and RH versions if they want.

But usually i just want to #define USE_RIGHT_HANDED for m

[2019-08-03 18:43] bvisness commented on #75
I thought OpenGL was conventionally right-handed and D3D was conventionally left-handed. And I think our current stuff is right-handed. But yeah.

[2019-08-03 20:37] kavika13 commented on #75
My $0.02:

What @StrangeZak said matches how GLM works, and I think it's not a bad way to go, necessarily.

If you're trying to "not break compiles for people using the library" - if they've embedded your code, then they aren't auto-updating, so won't be broken. If they update your library, isn't that a manual process? And if so, can't some (easily debuggable and easily fixable) breaking changes b

[2019-08-04 00:17] bvisness commented on #75
It's true that a manual update process means breaking changes are less of an issue, but I still want  to preserve backwards compatibility to the fullest extent we can. And we plan to put this in the next major, breaking release anyway.

I think the idea of forcing a #define might be pretty nice. But I also think that it might be ok to give preference to one system. I think it's nice to be able to

[2019-08-04 00:28] StrangeZak commented on #75
I don’t think that have both a HMM_Orthographic and a HMM_Orthographic_RH would be too big of a deal. As you’d just look at the HMM_Orthographic source and see that it just calls the RH function. The only reason we’d really preserve HMM_Orthographic in the first place is just for backwards compatibility.

I’m not really a huge fan of forcing a #define as it won’t really be a drop in library anymor

[2019-08-06 23:22] RandyGaul commented on #108
Personally I prefer mul kind of function in C++.

The reason is if we concatenate a few matrices like so:

[code]

It isn't extremely clear what the order of intended operations is just by looking at the `*` operator. But, if there is a mul function people can use either ordering however they like, explicitly.

[code]

I overload this mul function for matrix to matrix, matrix to vector, quaternion

[2019-08-06 23:31] RandyGaul commented on #109
If someone wants to let the compiler inline stuff, they can easily modify the header themselves. It's going to be more important in the long run to keep the header as simple as possible. So I'm in favor of hiding more.

[2019-08-06 23:33] RandyGaul commented on #109
P.S. It's doing a [linear combination](https://en.wikipedia.org/wiki/Linear_combination), and was a pretty smart way to implement matrix to vector multiply.

[2019-08-06 23:37] RandyGaul commented on #75
I'm in favor of explicit HMM_Perspective_LH and HMM_Perspective_RH. Windows uses the whole macro thing for wide vs ansi strings (W and A at the end of function names, and a macro without either), and I always hated it. I don't use the macros, just use the explicit functions. The macro adds not-so-useful of a feature in a tradeoff for more header bloat and complexity.

[2019-08-07 01:53] StrangeZak commented on #75
Usually I’d agree with you (I also think the A vs W thing in windows is annoying with the #define UNICODE), but I really don’t wanna break compatibility for people who are already using the library. Version upgrades are meant to be sort of “seamless”

[2019-08-07 22:01] bvisness commented on #75
Well this is supposed to be for a breaking change, so a little bit is to be expected. Maybe we can have only the explicit versions out of the box, but doing a #define can enable versions without the LH and RH suffixes. Then the extent of “breakage” is just that you have to indicate which convention you’ll be using.

[2019-08-07 22:44] RandyGaul commented on #75
My personal priority of concerns is something like this.

1. Small header without complexity.
2. Clear API requiring minimal docs, obvious how to use at-a-glance.
3. Avoid build-breaking changes.

Pretty much I don’t value the “generic” nature of any macros at all, and trying to use macros to avoid a build break overrides higher priority concerns. So to me the best option might be to just make the

[2019-08-07 22:49] StrangeZak commented on #75
@bvisness If were gonna do a API breaking change we should just hold them all until we release version 2. Then we only break the library once ideally

[2019-08-08 00:47] bvisness commented on #75
@StrangeZak Yeah this is a 2.0 change, so breaking things is fine and expected (to a point).

I wasn't really considering the macros as a means of achieving backwards compatibility; I was just thinking of them in terms of ease of use. But it's not particularly hard to tack LH or RH onto a function that probably won't even show up that often.

Since I think we're in agreement that we want explicitl

[2019-08-08 00:50] bvisness commented on #75
And you know, the magic of C/C++ is that if you really want to use `HMM_Orthographic` without the suffix, you can just define it yourself. 🙂

[2019-08-08 01:58] StrangeZak commented on #75
A thought I just had regarding this:

A lot of people who are using our library I assume are using it with OpenGL. If they’re novices in graphics programming they might not understand Left/Handed coordinate systems.

Also, my idea was never to force someone to #define what they want but simply allow a switch keep Hmm-Ortho calling the RH function, and then If the #define is supplied switch it call

[2019-08-19 13:32] Nairou commented on #108
I no longer use the overloaded functions either. I have also been tripped up in the past by reading two versions of each operation in the documentation (usually via search), trying one, and learning it was just an overload of something else.

[2019-08-19 13:36] Nairou commented on #31
It took me quite a while to figure out that HMM_Perspective used degrees rather than radians, as it isn't in the documentation anywhere I could find. So consistency would definitely be nice.

[2019-08-19 14:37] bvisness commented on #108
@Nairou That's an interesting case I hadn't thought of. And to @RandyGaul's point, if you want to use the `mul` style of math, the function names are probably so verbose that you would have to `#define mul HMM_Multiply` anyway, just to make them tolerable.

My biggest issue with the overloaded versions is that they don't really give you anything beyond the operator overloads (besides a more visibl

[2020-01-11 22:19] #109 closed

[2020-01-11 22:20] StrangeZak commented on #106
Should be fine in WASM now if the SSE path is disabled, removed need for stdint.h.

WASM recently added SIMD (i think) so might be worth trying to get our SSE code to work in WASM.

[2020-01-11 22:20] #106 closed

[2020-01-31 23:04] JorenJoestar commented on #68
Hello everyone, any improvement on this subject ?
Thank you :)

[2020-01-31 23:45] RandyGaul commented on #68
@JorenJoestar We more or less concluded inverses are not needed for games for the most part. What specifically are you looking for/trying to do?

[2020-02-02 17:28] JorenJoestar commented on #68
Different things:
1) transform normals. Normally you do the inverse transpose of the world transform of a model, and pass that to the vertex program that uses it.
Faster than doing that for each vertex of a model inside a shader.
2) Reconstruct world position from depth: multiply homogeneous coordinates for the inverse of the view projection.
3) Any transformation from screen space to world or vie

[2020-02-04 19:35] RandyGaul commented on #68
Ah, nice list. Though it's not necessary to use a full inverse function, at least, as far as I am aware (I might be wrong though!).

1. As long as it's not a wild matrix with non-uniform scales mixed in, it can be trivially decomposed into translation, scale and rotation. Each individual piece can be trivially inverted, and then pieced back together again as a full matrix.
2. Project screen-space

[2020-03-27 16:03] bvisness opened #112 "Add ability to change or remove the HMM_ prefix"
We should add the ability to change the function prefixes in case people think HMM_Whatever is too verbose and they can afford to change it in their own project.

Ryan Fleury recommended that we could take an approach like stb_sprintf: https://github.com/nothings/stb/blob/master/stb_sprintf.h#L187-L197

[2020-03-27 16:10] StrangeZak commented on #112
Yeah that'd be okay 👍

[2020-03-27 21:53] bvisness commented on #99
I'm torn on whether or not to delete the vector equals functions for 2.0. Unsurprisingly, we use them everywhere in the tests, so we'd have to reimplement them there. But the main reason I'm hesitant to delete them is that they're totally unambiguous, and not really any work to maintain.

At the moment I'd prefer to just silence the warnings and keep the functions around, even for 2.0. Feel free t

[2020-04-06 14:55] #99 closed

[2020-04-06 14:57] #112 closed

[2020-04-07 21:11] Nairou opened #115 "Orthographic matrix clip plane math wrong?"
I haven't run tests to see what results I get, but while reading through the implementation of HMM_Orthographic, I noticed that all of the clip plane calculations are doing (Near - Far), rather than (Far - Near). Same for the additions.

I double checked the orthographic projection matrix online, and also cross-checked a couple other math libraries I've used in the past, and they all say (Far - Ne

[2020-04-07 21:44] Nairou commented on #115
Actually, thinking more about this, perhaps it's intentional. Most other matrix math libraries are templated, and have right-hand and left-hand versions. Both versions use the same code, but the right-hand version negates the (far-near) calculation. If HandmadeMath is always assuming right-hand coordinates, then (near-far) would get the same result...

[2020-04-07 21:44] #115 closed

[2020-04-07 22:52] bvisness commented on #115
Yeah, I believe this all depends on the direction of your z-axis. I'll make sure to keep this in mind for the eventual version of Handmade Math that supports different handedness (see #75).

[2020-04-09 12:13] Nairou commented on #31
I see activity towards this in #107, is it a HandmadeMath 2.0 thing? Is there a roadmap for that release?

I just had a case yesterday where I calculated an angle with atan2() and then had to convert it to degrees before passing it into HMM_Rotate(), so figured I'd check. :smile:

[2020-04-09 20:22] bvisness opened #116 "Remove the implementation section, shove it all in the header"
I know we've gone back and forth on this before (#57) but I don't think we need to have a separate implementation section in Handmade Math.

Most of the function implementations are inline, since that gives the compiler the most context for optimizations (and math needs to be optimized!). The ones that are _not_ inline were made that way because we were worried about redundant definitions between

[2020-04-09 20:24] StrangeZak commented on #116
I’m fully onboard for this. LETS DO IT 👍

[2020-04-09 20:25] StrangeZak commented on #31
I think if you use the version 2 branch we’re fully radians now. @bvisness can confirm though

[2020-04-09 20:36] bvisness commented on #31
Yes, the switch to radians for everything is a 2.0 thing. We don't have a firm roadmap yet, but I think we're nearing a point where we can make one. We do, however, have [a GitHub milestone](https://github.com/HandmadeMath/Handmade-Math/milestone/1) for 2.0 that groups all the tickets we want in a future breaking release - not all of those will be required for 2.0, but all of them are breaking in

[2020-04-09 20:39] #31 closed

[2020-04-11 23:41] #116 closed

[2020-04-25 16:30] bvisness opened #118 "New prefix features need robust testing"
The work done in #114 needs a better way to be tested. It's easy to forget to prefix a name, either in the definition or in internal usage.

We are really getting to the point where we might need to start auto-generating some things.

[2020-07-08 06:34] GsxCasper opened #119 "Functions in the HANDMADE_MATH_IMPLEMENTATION section are missing the HMM_PREFIX(...) macro"
As mentioned in the title, all the functions defined within `HANDMADE_MATH_IMPLEMENTATION` do hardcode the `HMM_` prefix (for example `HMM_Rotate` instead of `HMM_PREFIX(Rotate)`).
This causes linking to fail to those who define `HMM_PREFIX` and use those functions.

(btw I tried to open a pr with the fix but I don't have permission to push. I'm not sure if I need to be whitelisted to this repo in

[2020-07-08 15:19] bvisness commented on #119
Sorry about that. If you want to fix it up yourself, just make a fork of the repository, push your change there, and then make a pull request. (See https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork)

Otherwise I can fix this up this evening.

[2020-07-08 20:42] GsxCasper commented on #119
Thanks, I thought it was a simple enough change that I could just fix it but I wrongly assumed I'd just create a branch and make a PR from there.

Thanks for showing me how to do it through forking! Opened https://github.com/HandmadeMath/Handmade-Math/pull/120

[2020-10-10 23:17] #119 closed

[2020-12-12 07:32] SushilRagoonath opened #123 "mat3"
Hi, do we have to extend the library if we want a 3x3 matrix and 2x2 matrix?

[2020-12-12 18:09] bvisness commented on #123
Yes, at the moment we only have mat4. But I suppose we should consider adding mat2 and mat3; it's not as common for 3D graphics (the focus of this library) but would still be useful to have.

[2020-12-12 20:20] SushilRagoonath commented on #123
Understandable,I suppose everything I need in 3d is done with vec3 components.Thanks

[2020-12-12 20:20] #123 closed

[2021-02-09 02:35] makuto commented on #89
I'm confused. Isn't this true? Or is there something I'm not understanding about row vs. column major?
For example:

[code]

outputs:

[code]

Which is what I expect: the translation `(1.f, 2.f, 3.f)` is properly stored in the 4th row of the matrix, where columns 1, 2, and 3 are contiguous in memory.

I did some more reading, and found this thorough discussion: [Column Vectors vs. Row Vectors](htt

[2021-02-09 02:40] makuto commented on #89
To clarify, the matrices are *stored* in row-major order, but you can choose to *think* of them in column-major order, right? I'm used to both stored and thought of in row-major order, as if rendering the matrix out as a image stored from the top left corner.

[2021-02-09 02:43] makuto opened #124 "Clarify ambiguous term "Column-major""
Re issue #89: I'm confused. Isn't this true? Or is there something I'm not understanding about row vs. column major?
For example:

[code]

outputs:

[code]

Which is what I expect: the translation `(1.f, 2.f, 3.f)` is properly stored in the 4th row of the matrix, where columns 1, 2, and 3 are contiguous in memory.

I did some more reading, and found this thorough discussion: [Column Vectors vs. Ro

[2021-02-09 03:17] TheSandvichMaker opened #126 "User-overridable linkage"
As is, the library exposes certain functions with HMM_EXTERN, without ability for the user to override this. This was a problem for me, so I had to edit the library to make these functions declared as static instead.

STB libraries allow a definition like ```#define HMM_STATIC``` or ```#define HMM_LINKAGE static``` which would allow the user to control whether these symbols get exported without ne

[2021-02-09 03:23] StrangeZak commented on #126
Hi,

If I remember correctly at some point this was implemented. But as I can
see it is not anymore. I will reimplement this functionality and get it
pushed for you. Thanks for the suggestion

- Zak

On Mon, Feb 8, 2021 at 7:17 PM TheSandvichMaker <notifications@github.com>
wrote:

[2021-02-09 07:38] bvisness commented on #124
After writing a response, then reading the post you linked in more detail, then reading your code, then re-reading your question, I am confident that Handmade Math is column-vector and column-major, and I will try to explain why. Apologies if you already know some of the material presented here; I'm trying to explain the issue as holistically as I can.

## Graphics APIs don't actually care about r

[2021-02-09 07:38] #124 closed

[2021-02-09 07:40] bvisness commented on #89
As I laid out in #124, Handmade Math is column-vector and column-major. See my comment there for a full clarification.

[2021-02-09 17:07] makuto commented on #124
I had to have the realization that the only thing that really determines what you call it is actually how you interpret the vector, and that determines what you need to call the matrix. Esp. Fabian's STv example drilled it home.

[2021-02-18 03:35] StrangeZak commented on #126
Hi, #127 closes this.

Thanks

[2021-02-18 03:35] #126 closed

[2021-02-27 20:00] bvisness opened #128 "Ship a set of basic math functions as an easy CRT alternative"
While Handmade Math currently has the ability to compile without the CRT if you provide implementations for `sin`, `cos`, etc., it might be nice to provide an optional set of implementations that could be easily included for people who do not want the CRT.

nakst on HMN offered that we could use his math functions, which he released into the public domain under the unlicense: https://gist.github.c

[2021-02-27 20:09] bvisness opened #129 "Support unary minus operator on vectors"
@TheSandvichMaker on HMN pointed out that we don't support unary minus for vectors. Oops.

[2021-02-27 20:13] StrangeZak commented on #128
Ah I mean if he offered I am more than happy to implement these in Handmade Math. How we implement them is a bit of a different question. I.E: Do we always prefer these implementations or use the CRT ones by default.

Either way, I am totally okay with this.

[2021-02-27 20:14] StrangeZak commented on #129
Doh, not sure how we missed that. We can get that implemented pretty easily / quickly

[2021-02-27 20:16] StrangeZak commented on #79
@bvisness Just so you are aware, I have recently gotten one of the new M1 Macbooks and more or less have an ARM implementation mostly complete. It's been tested on both an RPI 4 and an M1 Macbook Pro. I need to clean it up a bit still, but there will a very large PR for this coming in soon.

[2021-02-27 20:17] nakst commented on #128
I think it's best to prefer the CRT implementation if they exist, since they will likely be more optimised for the specific platform.

[2021-02-28 04:36] bvisness commented on #79
Depending on how big our various backends get, I'm starting to wonder if we should build and ship three separate versions of the library - no SIMD, SSE, NEON. Maybe something to consider for version 2.0?

[2021-03-07 01:52] StrangeZak commented on #129
Closed. Added in #130

[2021-03-07 01:52] #129 closed

[2021-03-10 00:33] StrangeZak opened #131 "Fully inline Handmade Math"
Right now Handmade is an odd mix of mostly inline functions, with the odd few extern functions. After taking a look at all of these functions with HMM_DEF, there really is no reason that we can't just go full inline. This would reduce code complexity, and just generally clean things up a bit in my opinon. Additionally, if the compiler deems a function not worthy of inline it will not, AFAIK there

[2021-03-10 15:00] StrangeZak commented on #131
Sweet, I’ll kick a MR your way today.

Sent from my iPhone

[2021-03-24 15:03] bvisness opened #134 "CI is not working"
For some reason our Travis CI builds have stopped working. I tried uninstalling the app and re-linking it, to no avail. Travis doesn't even show me the Handmade Math organization, despite GitHub thinking there is an active link there.

Either we need to figure out how to get Travis working again, or we need to migrate to a different CI system.

[2021-03-24 16:41] StrangeZak commented on #134
We could try moving over to Github Actions?

[2021-05-21 00:38] shinymerlyn opened #135 "Divide by zero when calling HMM_Slerp with two identity quaternions"
If the angle between two quaternions is zero (or very close to zero), you end up with a divide by zero/infinity.

The way GLM solves this is detecting if `Cos_Theta` is very near 1.0f (greater than `1.0f - epsilon`), and if so it reverts to a lerp.

Repro:
[code]

[2021-05-21 00:40] shinymerlyn commented on #135
https://github.com/g-truc/glm/blob/master/glm/ext/quaternion_common.inl#L41

[2021-07-27 14:49] IvoKoller opened #136 "Unnecessary Square Root"
The inverse of a quaternion q is defined as q^-1 == q*/|q|^2, where q^-1 is the quaternion's inverse and q* it's conjugate.
As we know, dot(q, q) _already equals_ |q|^2 so AFAICT there is no need to take the square root _just to then square it again_. So:
[code]
Would become:
[code]
I could be missing something here, so please elaborate on why you wrote it that way!
Anyways, good work so far! :)

[2021-07-27 15:31] bvisness commented on #136
No reason that I know of! I suspect I was just following a formula for the quaternion inverse and didn't notice the optimization there.

If you're interested, you can try making this change yourself - if it passes our tests, I'm pretty confident it should be ok. Or I can do it, if you don't have the time or interest. Let me know!

[2021-07-27 15:36] IvoKoller commented on #136
I'm working right now, so it'd be awesome if you could do it.

[2021-08-02 15:48] IvoKoller commented on #136
@bvisness Alright, tested it and it passes the tests. Not going to bother doing a PR, just copy-paste the code above. Have a nice day!

[2021-08-31 16:28] #136 closed

[2021-08-31 16:28] StrangeZak commented on #136
Thanks for the fix

[2021-12-21 19:43] #131 closed

[2022-01-15 21:17] pseregiet opened #141 "Rotate point by quaterion"
Hi. HMM implements few quaterion functions but is missing one for rotating a vec3 position by a quaterion. I believe this is a correct implementation, a sample from a md5 model viewer. Could it be added to this library ?

[code]

[2022-07-09 13:36] DeexCoding opened #143 "Where's the function to inverse a matrix?"
It's like basic camera stuff. How could you forget this?

[2022-07-09 14:02] bvisness commented on #143
See #68. In case you couldn't tell, this library is not under particularly active development, but a decent assortment of matrix inverses is an obvious gap we're aware of that we would add in a 2.0 release.

[2022-07-09 14:03] #143 closed

[2022-07-09 14:04] bvisness commented on #143
We will gladly take contributions of course, even to 1.x, as long as it's in line with #68.

[2022-08-03 17:44] mlabbe opened #144 "Request - document fundamental choices made in handmade math"
HMM is very useful when bringing up a new 3D scene.  Eventually, however, a user may run into a scenario where they are troubleshooting their coordinate system, need to view a matrix in a debugger, or understand where a point lies in clip space.  It would be helpful for these troubleshooters if HMM documented the following:

 - Whether HMM's functions assume RHS or LHS coordinate systems
 - If the

[2022-08-29 23:46] StrangeZak commented on #144
This is something i can do soon. Thanks for the suggestion :)